html {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}


a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.ellipsis {
  @include ellipsis();
}

.ellipsis-2 {
  @include ellipsis(2);
}

.ellipsis-3 {
  @include ellipsis(3);
}

.ellipsis-4 {
  @include ellipsis(4);
}